:root{
    --color1: rgb(17, 17, 17);
    --color2: #d8d8d8;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Courier;
}
body{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100vw;
    overflow-x: hidden;
}
header{
    position: fixed;
    width: 100vw;
    height: 40px;
    background-color: var(--color1);
    padding: 0 20px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    height: 100%;
}
nav span{
  position: relative;
  z-index: 2;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 2rem;
}
nav ul li a{
    color: var(--color2);
    text-decoration: none;
}
nav ul li:hover a{
    color: #fff;
}
main{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    width: 100vw;
    height: auto;
    background-color: #fafafa;
}
article{
    width: 80vw;
    padding: 10px;
}
article .img{
    background-position: top;
    background-repeat: no-repeat;
    height: 33vw;
    width: 60vw;
    background-size: 60vw;
    cursor: pointer;
}
article .img:hover{
    transition: all .3s cubic-bezier(.1, .3, .2, 1);
    background-size: 100vw;
}
article .imgNotObfuscate{
    background-image: url(./property/notObfuscate.png);
}
article .imgObfuscate{
    background-image: url(./property/obfuscate.png);
}
.content{
    margin: 20px 0;
}
article h2{
  margin: 20px 0;
}
aside{
    text-align: center;
    padding: 15px;
    width: 20vw;
    height: auto;
    background-color: var(--color2);
}
aside img{
    width: 80px;
    height: 80px;
}
aside h3{
    padding-bottom: 20px;
}
aside#penulis table{
    margin: auto;
    margin-top: 20px;
}
tr, td{
    text-align: left;
}
footer{
    width: 100vw;
    height: 100px;
    background-color: var(--color1);
}
.download{
    padding: 5px 15px;
    border-radius: 1rem;
    border: none;
    color: #fafafa;
    text-decoration: none;
    transition: all .3s;
    background-color: rgb(135, 70, 255);
    margin: 20px 0;
}
.download:hover{
    background-color: rgb(112, 38, 250);
}
.medsos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.medsos a:hover{
    transform: rotate(365deg) scale(1.2);
    transition: all .3s ease-in;
}
/* list menu */
.menu{
  display: flex;
  position: relative;
  z-index: 2;
}
.menu .checkbox{
  position: relative;
  height: 30px;
  width: 30px;
  margin-left: -30px;
  opacity: 0;
  z-index: 10;
}
.menu .icon{
  width: 30px;
  height: 30px;
  background-color: var(--color2);
  background-image: url('./icon/list.svg');
  background-size: 100%;
  background-position: center;
}
/*Responsive*/
@media screen and (min-width:769px){
  .menu{
    display: none;
  }
  main{
    flex-direction: row-reverse;
  }
  article{
    width: 70vw;
  }
  aside{
    width: 30vw;
  }
}
@media screen and (max-width: 768px){
  nav ul{
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    background-color: rgba(17,17,17, .9);
    display: none;
  }
  nav ul.slide{
    display: inherit;
  }
  main{
    flex-direction: column-reverse;
  }
  article{
    width: 100vw;
  }
  aside{
    width: 100vw;
  }
}